
<tr>
    <td class="{{lineClass}} {{type}}" position="{{position}}" path="{{path}}">
        {{{lineNumber}}}
    </td>
    <td class="{{type}}">
        <div class="{{contentClass}} {{type}}">
        {{#prefix}}
            <span class="d2h-code-line-prefix">{{{prefix}}}</span>
        {{/prefix}}
        {{#content}}
            <span class="d2h-code-line-ctn">{{{content}}}</span>
        {{/content}}
        </div>
        <div class="d2h-comment-area">
        </div>
    </td>
</tr>